.switchTokens {
    position: absolute;
    left: 48%;
    margin-top: -1.25rem;
}

.token {
    margin-bottom: 1.25rem;
}

.balanceButton {
    border: none;
    background: none;
    color: var(--c-text);
    cursor: pointer;
    margin-right: -8px;
    font-size: 0.75rem;
}

.tokenHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625rem;
    font-size: 0.75rem;
    padding: 0 0.625rem;
    align-items: center;
}

.noMargin {
    margin: 0;
}
