.root {
    width: 100%;

    input {
        color: var(--c-text);
    }

    fieldset {
        border-color: var(--c-text);
    }

    :global(.MuiInputBase-root) {
        background-color: var(--c-primary-dark);
    }

    :global(.MuiFormHelperText-root) {
        font-weight: bold;
        color: var(--c-text);
    }
}
